.column.is-offset-2.is-8.animated.zoomIn
  .card(class = shared ? 'yellow' : '', id= post._id)
    if post.image.data !== null
      .card-image
        figure.image.is-4by3
          img(src="data:image/jpg;base64," + post.image.data.toString('base64'))
    .card-content
      .media
        .media-left
          figure.image.is-48x48
            if avatar !== null
              img(src="data:image/jpeg;base64," + avatar.toString('base64'))
            else
              img(src= 'http://icon-icons.com/icons2/1070/PNG/512/darth-vader_icon-icons.com_76959.png')
        .media-content
          p.title.is-4
            a.from(href='/profile/' + author)= author === user ? 'Me' : author
            if post.to
              span.icon
                i.fa.fa-angle-double-right
              a.to(href='/profile/' + to)= to === user ? 'Me' : to
          p.subtitle.is-6 Just now
            if shared
              br
              a.to(href='/profile/' + shared) shared by #{shared}
      div.post-actions
        i.fa.fa-heart.like(data-post = post._id)
        span.likes= post.likes.length
        if (canShare)
          i.fa.fa-share.share(data-post = post._id)
      .content= post.content