extends layout

block content
  script(src='/javascripts/sockets.js')
  script(src='javascripts/notification.button.js')
  script(src='javascripts/navbar.js')
  include ./shared/navbar
  include ./shared/sidebar
  .container
    button#butt Butt
    h1.title.is-1 Share some thoughts #{user.username}!
    .columns.is-mobile.is-multiline
      .column.is-10
        .field
          p.control
            textarea.textarea.post-input(placeholder='Write something!')
            button.button.is-primary.is-fullwidth#sendPost Post!
    .columns.is-mobile.is-multiline#posts-container
      each post in posts
        .column.is-10
          .card
            .card-content
              .media
                .media-content
                  p.title.is-4
                    a.from(href='/profile/' + post._creator.username)= post._creator.username === user.username ?  'Me' : post._creator.username
                    if post.to
                      span.icon
                        i.fa.fa-angle-double-right
                      a.to(href='/profile/' + post.to.username)= post.to.username === user.username ?  'Me' : post.to.username
                  p.subtitle.is-6= moment(post.date).fromNow()
              i.fa.fa-share
              i.fa.fa-heart.like(data-post = post._id, class = checkLikes(post.likes, user.username) ? 'liked' : '')
              span.likes= post.likes.length
              .content= post.content