extends layout

block content
  script(src='/javascripts/sockets.js')
  script(src='javascripts/notification.button.js')
  script(src='javascripts/navbar.js')
  include ./shared/navbar
  nav.sidebar
    ul#friend-list
      each friend in user.friends
        li
          div.offline(id= "" + friend.username)= friend.username.slice(0,2).toUpperCase()
          div= friend.username
          span.icon
            i.fa.fa-envelope-o

  .container
    h1= user.username
    button#butt Butt
    .columns.is-mobile.is-multiline
      each val in [1,2,3,4,5]
        .column.is-10
          .box
            article.media
              .media-left
                figure.image.is-64x64
                  img(src='https://scontent.fwaw5-1.fna.fbcdn.net/v/t1.0-9/14705663_1139212169458500_5947085306553102567_n.jpg?oh=143130e08d1cc4651c88b198048a2c1d&oe=59BDE55C', alt='Image')
              .media-content
                .content
                  p
                    strong Meow
                    small    12.04.2017
                    br
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                nav.level.is-mobile
                  .level-left
                    a.level-item
                      span.icon.is-small
                        i.fa.fa-retweet
                    span(style="margin-left: -10px; margin-right: 10px;font-weight: 600")= val
                    a.level-item
                      span.icon.is-small
                        i.fa.fa-heart
                    span(style="margin-left: -10px; font-weight: 600")= val
      each val in [1,3]
        .column.is-10
          .box
            article.media
              .media-left
                figure.image.is-64x64
                  img(src='https://scontent.fwaw5-1.fna.fbcdn.net/v/t1.0-9/14705663_1139212169458500_5947085306553102567_n.jpg?oh=143130e08d1cc4651c88b198048a2c1d&oe=59BDE55C', alt='Image')
              .media-content
                .content
                  p
                    strong Meow
                    small    12.04.2017
                    br
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                  img(src="images/mount.jpg")
                nav.level.is-mobile
                  .level-left
                    a.level-item
                      span.icon.is-small
                        i.fa.fa-retweet
                    span(style="margin-left: -10px; margin-right: 10px;font-weight: 600")= val
                    a.level-item
                      span.icon.is-small
                        i.fa.fa-heart
                    span(style="margin-left: -10px; font-weight: 600")= val

