extends layout

block content
  script(src='/javascripts/sockets.js')
  script(src='/javascripts/notification.button.js')
  script(src='/javascripts/navbar.js')
  include ./shared/navbar
  include ./shared/sidebar
  section.hero.is-dark
    .hero-body
      .container.has-text-centered

        //nav.level
        //  .level-item.has-text-centered
        //    div
        //      p.heading Posts
        //      p.title= posts.length
        //  .level-item.has-text-centered
        //    div
        //      p.heading Friends
        //      p.title= profile.friends.length
        nav.level
          .level-item
            div
              p.heading Posts
              p.title= posts.length
          .level-item
            if profile.avatar.data !== null
              img(src="data:image/jpeg;base64," + profile.avatar.data.toString('base64')).avatar
            else
              img(src= 'https://cdn0.iconfinder.com/data/icons/iconshock_guys/512/andrew.png').avatar
            .profile-info
              h1.title.is-1.capitalize
                | #{profile.username}
              h2.subtitle.is-5
                | #{profile.email}
          .level-item
            div
              p.heading Friends
              p.title= profile.friends.length
        h3.subtitle
          unless friends || inviteSent
            span.icon
              i.fa.fa-user-plus#invite(data-username="" +profile.username)
  if friends
    .container.margin-50
      h1.title.is-2 Write something on #{profile.username} wall
      .columns.is-mobile.is-multiline
        .column.is-12
          .field
            p.control
              textarea.textarea.post-touser-input(placeholder='Write something to ' + profile.username + '!')
              button.button.is-primary.is-fullwidth#sendPostToUser(data-user = profile._id, data-username = profile.username ) Post!
      .columns.is-mobile.is-multiline#posts-container(data-user = profile.username)
          each post in posts
            .column.is-12
              .card(class = checkShared(post._id) ? 'yellow' : '')
                .card-content
                  .media
                    .media-content
                      p.title.is-4
                        a.from(href='/profile/' + post._creator.username)= post._creator.username === user.username ? 'Me' : post._creator.username
                        if post.to
                          span.icon
                            i.fa.fa-angle-double-right
                          a.to(href='/profile/' + post.to.username)= post.to.username === user.username ? 'Me' : post.to.username
                      p.subtitle.is-6= moment(post.date).fromNow()
                  div.post-actions
                    i.fa.fa-heart.like(data-post = post._id, class = checkLikes(post.likes, user._id) ? 'liked': '' )
                    span.likes= post.likes.length
                    if (checkCanShare(post, user.username))
                      i.fa.fa-share.share.share(data-post = post._id)
                  .content= post.content
  .chat-container

